
{% extends "base.html" %}


{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
{% endblock %}

{% block body %}
<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">

      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">

        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title" id="text-noti">SafeTrip</span>
    <nav class="mdl-navigation">
      <ol>
      </ol>
      <button id="gen_trip" onclick="genWay()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Прокласти маршрут</button>
<span class="trip-info">Оберіть пункт відправлення і пункти призначення на мапі</span>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">

      <div class="map-container"><div id="map">

      </div></div>

    </div>
  </main>
</div>

<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">При виконанні запиту виникла помилка</h4>
  <div class="mdl-dialog__content">
    <p>
      Спробуйте змінити точки маршруту. Можливо ви обрали точку поза Львовом?
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close">Добре</button>
  </div>
</dialog>
<!-- leaflet -->
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<!-- Main tangram library -->
<script src="https://mapzen.com/tangram/0.10/tangram.min.js"></script>

<!-- Demo setup -->
<script>

  $('.mdl-navigation > ol').on('click', 'li', function(e){
      if (e.target.className =="material-icons") {
        points[$(this).attr("data-point-num")][2].remove()
        points[$(this).attr("data-point-num")] = -1
        $(this).remove();
        blue.clearLayers()
        green.clearLayers()
        yellow.clearLayers()
    }
});

var crimed_roads = {{ crime }}
var points = [0];
text_header = ["Оберіть точку відправлення", "Оберіть точку прибуття", "Очікуйте, ми підбираємо найкращий маршрут для Вас", "Ваш найшвидший маршрут"]

function SetPoint(selection, npoints) {
    if (selection.feature) {
      data = selection.feature.properties
      console.log('Click!', data["id"],data["name"], selection);
      npoints[0]++
      text = (data["name"] == undefined ? "Невідома" : data["name"]  )
      pointListItem  = $('<li class="mdl-navigation__link" data-point-num="'+npoints[0]+'"><span>'+text+
        '</span><button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">close</i></button></li>');
      $(".mdl-navigation > ol").eq(0).append(pointListItem);
      //$("#text-noti").html("Оберіть точку #"+(npoints[0]+1));
      npoints[npoints[0]] = [selection.feature.properties.id, selection.leaflet_event.latlng,L.marker(selection.leaflet_event.latlng)]
      npoints[npoints[0]][2].addTo(map)
      .bindPopup(text)
      .openPopup()
      console.log(selection.feature.properties.id, selection.feature)
    }

    return npoints;
  }
var map = L.map('map');
crime_geo = []
crime_lay = []
var myRenderer = L.canvas({ padding: 0.5 });

for (road in crimed_roads) {
  for (i=0; i < crimed_roads[road][0].length; i++) {
    crimed_roads[road][0][i].reverse()
  }
//  crime_geo.push(crimed_roads[road][0])
 var ff = L.polyline(crimed_roads[road][0], {color: "rgba(255,0,0,"+ Math.sqrt(crimed_roads[road][1]/{{maxcrime}}) +")", weight:3, renderer: myRenderer})
crime_lay.push(ff)
}
  // var ff = L.polyline(crime_geo, {color: "red", weight:10, renderer: myRenderer}).addTo(map);
var layer = Tangram.leafletLayer({
    scene: "{{ url_for('static', filename='scene.yaml') }}",
    attribution: '<a href="https://mapzen.com/tangram" target="_blank">Tangram</a> | &copy; OSM contributors | <a href="https://mapzen.com/" target="_blank">Mapzen</a>',
    events: {
       click: function(selection) {
         points = SetPoint(selection, points);

       }
    }
});
var baseLayers = {

};
blue = L.layerGroup([]).addTo(map);
green = L.layerGroup([]).addTo(map);
yellow = L.layerGroup([]).addTo(map);

crimeLayer = L.layerGroup(crime_lay);
var overlays = {
  "Рівень кримінальності": crimeLayer,
  "Найшвидший маршрут":yellow,
  "Найбезпечніший маршрут v1": blue,
  "Найбезпечніший маршрут v2": green
};
L.control.layers(baseLayers, overlays).addTo(map);
function genWay() {
  blue.clearLayers()
  green.clearLayers()
  yellow.clearLayers()
    for (i = 1; i < points.length-1; i++) {
    if (points[i]== -1) {
      continue;
    }
    g = 1
    for (k = 1; k <= points.length-1-i; k++) {
      if (points[i+k] != -1) {
        g = k;
        break;
      }
      g = -1;
    }
    console.log(g)
    if (g == -1) {
      break;
      console.log("breaked")
    }
    request = $.ajax   ({
     type:"GET",
     url: "{{ url_for("build_way")}}",
     data: {
       id1 : points[i][0],
       lat1 : points[i][1]["lat"],
       lng1 : points[i][1]["lng"],
       id2 : points[i+g][0],
       lat2 : points[i+g][1]["lat"],
       lng2 : points[i+g][1]["lng"] },

     success: function(e){
       var latlngs = [[49.818804132, 24.0591888517], [49.8187043873, 24.0590629556]]

       latlngs = JSON.parse(e);
      // console.log(latlngs[0][0] == latlngs[1][0], latlngs)

       blue.addLayer( L.polyline(latlngs[2][0], {color: 'rgb(0,0,255)', weight:5}));
       yellow.addLayer( L.polyline(latlngs[1][0], {color: 'rgb(255,255,0)', weight:5}));
       green.addLayer(L.polyline(latlngs[0][0], {color: 'rgb(0,255,0)', weight:5}));
       //$("#text-noti").html(text_header[3]);
       // zoom the map to the polyline
     //  map.fitBounds(polyline.getBounds());
   },
   error: function (xhr, ajaxOptions, thrownError) {
     var dialog = document.querySelector('dialog');
  dialog.showModal();
dialog.querySelector('.close').addEventListener('click', function() {
  dialog.close();
});
      }
   });

}

}
layer.addTo(map);

map.setView([49.8193738,24.0298474], 20);
</script>

{% endblock %}

<!--
var latlngs = [
    [ 49.820365261421131, 24.027337284403782],
    [ 49.819732930645692, 24.02879992650756],
    [ 49.819601167127814, 24.029786979425268],
    [ 49.819446856290398, 24.030150754022998],
    [ 49.819154746964813, 24.030772355962341],
    [ 49.81897403313237, 24.031167897973088]
];
var polyline = L.polyline(latlngs, {color: 'red'}).addTo(map);
// zoom the map to the polyline
map.fitBounds(polyline.getBounds());

-->
